:root {
	--background: oklch(0.952 0.0083 91.4843);
	--foreground: oklch(0.2046 0 0);
	--card: oklch(0.9764 0.0013 286.3755);
	--card-foreground: oklch(0.2046 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.2046 0 0);
	--primary: oklch(0.2419 0.0869 273.3926);
	--primary-foreground: oklch(0.9851 0 0);
	--secondary: oklch(0.7641 0.1721 60.7003);
	--secondary-foreground: oklch(0.2046 0 0);
	--muted: oklch(0.9189 0 0);
	--muted-foreground: oklch(0.5103 0 0);
	--accent: oklch(0.9499 0.0243 280.8643);
	--accent-foreground: oklch(0.2046 0 0);
	--destructive: oklch(0.5829 0.2388 28.7513);
	--destructive-foreground: oklch(1 0 0);
	--border: oklch(0.9219 0 0);
	--input: oklch(0.6949 0.0795 279.1987);
	--ring: oklch(0.709 0 0);
	--chart-1: oklch(0.8418 0.1211 68.3883);
	--chart-2: oklch(0.8028 0.1494 65.8924);
	--chart-3: oklch(0.7675 0.1709 61.5362);
	--chart-4: oklch(0.7213 0.176 56.2613);
	--chart-5: oklch(0.6297 0.1529 56.7032);
	--sidebar: oklch(0.9764 0.0013 286.3755);
	--sidebar-foreground: oklch(0.1448 0 0);
	--sidebar-primary: oklch(0.2419 0.0869 273.3926);
	--sidebar-primary-foreground: oklch(0.9851 0 0);
	--sidebar-accent: oklch(0.952 0.0083 91.4843);
	--sidebar-accent-foreground: oklch(0.2046 0 0);
	--sidebar-border: oklch(0.9219 0 0);
	--sidebar-ring: oklch(0.709 0 0);
	--font-sans: DM Sans, sans-serif;
	--font-serif: Source Serif Pro, serif;
	--font-mono: Fira Code, monospace;
	--radius: 0.625rem;
	--shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
	--shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
	--shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
	--shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
	--shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
	--shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
	--shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
	--shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

.dark {
	--background: oklch(0.2046 0 0);
	--foreground: oklch(1 0 0);
	--card: oklch(0.3092 0 0);
	--card-foreground: oklch(0.952 0.0083 91.4843);
	--popover: oklch(0.252 0 0);
	--popover-foreground: oklch(0.9851 0 0);
	--primary: oklch(0.6002 0.2167 270.24);
	--primary-foreground: oklch(0.9794 0.0013 286.3756);
	--secondary: oklch(0.7641 0.1721 60.7003);
	--secondary-foreground: oklch(0.9851 0 0);
	--muted: oklch(0.2891 0 0);
	--muted-foreground: oklch(0.7155 0 0);
	--accent: oklch(0.419 0.0554 277.098);
	--accent-foreground: oklch(0.9794 0.0013 286.3756);
	--destructive: oklch(0.7017 0.1895 23.3274);
	--destructive-foreground: oklch(0.9851 0 0);
	--border: oklch(0.2686 0 0);
	--input: oklch(0.6949 0.0795 279.1987);
	--ring: oklch(0.4165 0 0);
	--chart-1: oklch(0.8418 0.1211 68.3883);
	--chart-2: oklch(0.8028 0.1494 65.8924);
	--chart-3: oklch(0.7675 0.1709 61.5362);
	--chart-4: oklch(0.7213 0.176 56.2613);
	--chart-5: oklch(0.6297 0.1529 56.7032);
	--sidebar: oklch(0.2046 0 0);
	--sidebar-foreground: oklch(0.952 0.0083 91.4843);
	--sidebar-primary: oklch(0.6002 0.2167 270.24);
	--sidebar-primary-foreground: oklch(0.9851 0 0);
	--sidebar-accent: oklch(0.2686 0 0);
	--sidebar-accent-foreground: oklch(0.9851 0 0);
	--sidebar-border: oklch(0.2768 0 0);
	--sidebar-ring: oklch(0.4386 0 0);
	--font-sans: DM Sans, sans-serif;
	--font-serif: Source Serif Pro, serif;
	--font-mono: Fira Code, monospace;
	--radius: 0.625rem;
	--shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
	--shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
	--shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
	--shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
	--shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
	--shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
	--shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
	--shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}
